html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-canvas {
  height: 100%;
}
#pip-pano {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}